
<div class="container">
  <br>
  <%= link_to '', @dog, class: "fa fa-angle-left fa-3x" %>
  <br>
  <h1 class="heading">Editing Dog</h1>

  <%= render 'form', dog: @dog %>

</div>



<%= render "partials/nav" %>
