<div class="container">

  <br>

  <%= link_to '', dogs_path, class: "fa fa-angle-left fa-3x" %>

  <h1 class="heading">New Dog</h1>

  <%= render 'form', dog: @dog %>


</div>


<%= render "partials/nav" %>
