/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "toastr";

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #FBDA61;
  background-image: linear-gradient(45deg, #FBDA61 0%, #ffb0e5 100%);
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  margin-bottom: 40px
}

// nav
.nav-link, .fa {
  display: inline;
}
// end nav

// login page
.login-page {
  height: 100vh;
  background-size: cover;
  text-align: center;
}
// end login page

// index dog page
.card-body {
  text-align: center;
}

.put-this-center {
  text-align: center;
}
// end index dog page

// show dog page
.dog-pic {
  height:330px;
  width:330px;
  max-height: 330px;
  max-width: 330px;
  border-radius: 100%;
  border: 2px solid white;
  display: block;
  margin: 0 auto;
}

.dog-show-texts {
  text-align: center;
}

.text-go-right {
  text-align: right;
}
// end show dog page

// edit user page
.edit-user-page {
  height: 100vh;
  background-size: cover;
  text-align: center;
}
// end edit user page
