/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

// nav
.nav-link, .fa {
  display: inline;
}
// end nav

// show dog page
.dog-pic {
  max-height: 330px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
}

.dog-show-texts {
  text-align: center;
}

.text-go-right {
  text-align: right;
}
// end show dog page
